<ion-header>
  <header class="bg-brand-header">
    <button class = "back-button" routerLink="/home" >

      <ion-icon ios="ios-arrow-back" md="md-arrow-back" ></ion-icon>
    </button>
    <h1 class = "title">Home</h1>

    <button class = "home-button" routerLink="/home" >

      <ion-icon ios="ios-home" md="md-home"></ion-icon>
    </button>
  </header>
</ion-header>


<ion-content style="margin:20px;">
  <div style="padding:20px;">
    <h5>Track Your Returns</h5>
    <ion-card>

      <ion-item routerLink="/home/item" class="activated">
        <ion-thumbnail>
          <img src="../../../assets/item1.png">
        </ion-thumbnail>

        <ion-label style="margin-left:10px;">iPhone 7</ion-label>
        <ion-icon name="ios-arrow-forward"></ion-icon>
      </ion-item>


      <ion-item routerLink="/home/item" class="activated">
        <ion-thumbnail>
          <img src="../../../assets/item2.png">
        </ion-thumbnail>

        <ion-label style="margin-left:10px;">Lenovo Laptop</ion-label>
        <ion-icon name="ios-arrow-forward"></ion-icon>
      </ion-item>

      <ion-item routerLink="/home/item" class="activated">
       <ion-thumbnail>
         <img src="../../../assets/item3.jpg">
        </ion-thumbnail>

        <ion-label style="margin-left:10px;">Hp Laser Printer</ion-label>
        <ion-icon name="ios-arrow-forward"></ion-icon>
      </ion-item>


      <ion-item routerLink="/home/item" class="activated">
     <ion-thumbnail>
          <img src="../../../assets/item4.jpeg">
        </ion-thumbnail>

        <ion-label style="margin-left:10px;">Night Vision</ion-label>
        <ion-icon name="ios-arrow-forward"></ion-icon>
      </ion-item>



    </ion-card>
  </div>


</ion-content>
