<ion-header>
  <header class="bg-brand-header">
    <button class = "back-button" routerLink="/return/{{data}}" >

      <ion-icon ios="ios-arrow-back" md="md-arrow-back" ></ion-icon>
    </button>
    <h1 class = "title">Return Label</h1>
    <button class = "home-button" routerLink="/home" >

      <ion-icon ios="ios-home" md="md-home"></ion-icon>
    </button>
  </header>
</ion-header>

<ion-content style="margin:20px;">
  <div style="padding:20px;">

    <ion-button (click) ="createReturnLabel()">Generate Return label </ion-button>

    <ion-thumbnail slot="start" style="width:100%;height:100%" *ngIf ="showReturnLabel">
      <ion-img src="../../assets/returnLabel.png"></ion-img>
    </ion-thumbnail>

   <div  *ngIf ="showReturnLabel"> <ion-button style="text-transform: capitalize" >Print</ion-button>
    <ion-button  style="text-transform: capitalize" >Share</ion-button>
    <ion-button  style="text-transform: capitalize"  routerLink ="schedulePickup" >Schedule Pickup</ion-button>
   </div>
  </div>

</ion-content>
