<ion-header>
  <header class="bg-brand-header">
    <button class = "back-button" routerLink="/home/track" >

      <ion-icon ios="ios-arrow-back" md="md-arrow-back" ></ion-icon>
    </button>
    <h1 class = "title">Track Your Item</h1>

    <button class = "home-button" routerLink="/home" >

      <ion-icon ios="ios-home" md="md-home"></ion-icon>
    </button>
  </header>
</ion-header>

<ion-content style="margin:0px;">
  <div style="padding:0px;">

    <div style="background-color: #62439E;
  font-family: Helvetica, sans-serif;">

      <div class="timeline">
        <div class="container left">
          <div class="content">
            <h2>Reached at USPS</h2>
            <p>Reached at USPS on Sat 23, 2019 at 12.30pm</p>
          </div>
        </div>
        <div class="container right">
          <div class="content">
            <h2>Reached at PB Facility</h2>
            <p>Reached at PB facility on Sat 24, 2019 at 11.00am</p>
          </div>
        </div>
        <div class="container left">
          <div class="content">
            <h2>Item Verified at PB Facility</h2>
            <p>Scanned at PB facility on Sat 24, 2019 at 01.00pm</p></div>
        </div>
        <div class="container right">
          <div class="content">
            <h2>Refund Initiated</h2>
            <p>Refund Initiated on Sat 24, 2019 at 02.00pm</p></div>
            </div>



      </div>

    </div>
    </div>
  </ion-content>
