<ion-header>
  <header class="bg-brand-header">
    <button class = "back-button" routerLink="/support/ticket" >

      <ion-icon ios="ios-arrow-back" md="md-arrow-back" ></ion-icon>
    </button>
    <h1 class = "title">Support Ticket</h1>
    <button class = "home-button" routerLink="/home" >

      <ion-icon ios="ios-home" md="md-home"></ion-icon>
    </button>
  </header>
</ion-header>

<ion-content>
  <!-- <ion-card> -->

  <div style="padding:20px;">

    <div>
      <h5> Thanks for your feedback!!</h5>
      <h5>  Our Support team will contact you soon!!
      </h5>

    </div>
    </div>

  <!-- </ion-card> -->
</ion-content>
