<ion-header>
  <header class="bg-brand-header">
    <button class = "back-button" routerLink="/details/{{data}}" >

      <ion-icon ios="ios-arrow-back" md="md-arrow-back" ></ion-icon>
    </button>
    <h1 class = "title">Return Label</h1>
    <button class = "home-button" routerLink="/home" >

      <ion-icon ios="ios-home" md="md-home"></ion-icon>
    </button>
  </header>
</ion-header>

<ion-content style="margin:20px;">
  <div style="padding:20px;">
    <div>
      <h5>Why you are returning this item?</h5>

      <ion-list>
        <ion-radio-group (ionChange)="returnReasonSelected($event)">

          <ion-item>
            <ion-label>Bought by Mistake</ion-label>
            <ion-radio slot="start" value="mistake=" checked="false"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Better price available</ion-label>
            <ion-radio slot="start" value="price"  checked="false"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>Performance or quality not adequate</ion-label>
            <ion-radio slot="start" value="quality" checked="false"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>Incompatible or not useful</ion-label>
            <ion-radio slot="start" value="notuseful" checked="false"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Item arrived too late</ion-label>
            <ion-radio slot="start" value="late" checked="false"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Missing parts or accessories</ion-label>
            <ion-radio slot="start" value="missingparts" checked="false"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>Wrong item sent</ion-label>
            <ion-radio slot="start" value="wrongItem" checked="false"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
    </div>


    <ion-button disabled={{returnReasonChecked}}  routerLink ="generateLabel" (click) ="createReturnLabel()">Next</ion-button>

    <ion-thumbnail slot="start" style="width:100%;height:100%" *ngIf ="showReturnLabel">
      <ion-img src="../../assets/returnLabel.png"></ion-img>
    </ion-thumbnail>

   <div  *ngIf ="showReturnLabel"> <ion-button >Print</ion-button>
    <ion-button >Share</ion-button>
    <ion-button >Schedule Pickup</ion-button>
   </div>
  </div>

</ion-content>
