<ion-app>
  <ion-split-pane>
    <ion-menu type="overlay">
      <ion-header>
        <ion-toolbar>
          <ion-title style="color:#000 !important;">Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list style="padding-bottom:0px">
          <!-- <ion-list-header *ngIf="loggedIn">
            Hello, {{getUsername()}}
          </ion-list-header>
          <ion-list-header *ngIf="!loggedIn">
            <a routerLink="/login">Login</a>
          </ion-list-header> -->
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <ion-list *ngIf="loggedIn" style="padding-top:0px;padding-bottom:0px">


          <ion-menu-toggle autoHide="false">
            <ion-item routerLink="/account" routerDirection="root">
              <ion-icon slot="start" name="person"></ion-icon>
              <ion-label>
                Account
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle autoHide="false">
            <ion-item button (click)="logout()">
              <ion-icon slot="start" name="log-out"></ion-icon>
              <ion-label>
                Logout
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

        </ion-list>

        <ion-list *ngIf="!loggedIn" style="padding-top:0px;">

          <ion-menu-toggle autoHide="false">
            <ion-item routerLink="/login" routerDirection="root">
              <ion-icon slot="start" name="log-in"></ion-icon>
              <ion-label>
                Login
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

        </ion-list>

      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
