<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Customer Support
    </ion-title>
  </ion-toolbar>
</ion-header> -->
<ion-header>
  <header class="bg-brand-header">
    <button class = "back-button" routerLink="/details/{{data}}" >

      <ion-icon ios="ios-arrow-back" md="md-arrow-back" ></ion-icon>
    </button>
    <h1 class = "title">Customer Support</h1>

    <button class = "home-button" routerLink="/home" >

      <ion-icon ios="ios-home" md="md-home"></ion-icon>
    </button>
  </header>
</ion-header>

<ion-content>
  <ion-list>
    <div *ngFor="let type of ticketTypes; let i=index">
      <ion-item  (click)="toggleGroup(i)" [ngClass]="{active: isGroupShown(i)}">
        {{type.title}}
        <div class="item-note" slot="end">
          <ion-icon item-right [name]="isGroupShown(i) ? 'arrow-dropdown' : 'arrow-dropright'"></ion-icon>
        </div>

      </ion-item>
      <div *ngIf="isGroupShown(i)">
        <ion-list>
          <ion-item *ngFor="let category of type.subCategories" (click)="openTicketScreen(category)">
            {{category}}
          </ion-item>
        </ion-list>
      </div>
    </div>

  </ion-list>
  <!--
    <div *ngIf="selectedItem" padding>
      You navigated here from <b>{{selectedItem.title }}</b>
    </div>
  -->
</ion-content>
