<ion-header>
  <header class="bg-brand-header">
    <button class="back-button" routerLink="/home">

      <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
    </button>
    <h1 class="title">Label Details</h1>

    <button class="home-button" routerLink="/home">

      <ion-icon ios="ios-home" md="md-home"></ion-icon>
    </button>
  </header>
</ion-header>


<ion-content style="margin:20px;">
  <div style="padding:20px;">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Package Details</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col>Tracking ID - {{data}}</ion-col>
            <ion-col>Weight Dimensions - 12.3 *5.67 (lb)</ion-col>
          </ion-row>
          <ion-row>
            <ion-col><a  href="https://www.amazon.in/Fotopro-Smartphone-Adapter-Samsung-Smartphones/dp/B074V78RPW/ref=bbp_bb_a77114_st_KIqx_w_0?psc=1&smid=A3EIWS4CLARCZO">Fotopro Smartphone Tripod Adapter Cell Phone Holders</a></ion-col>
          </ion-row>
          <ion-row align-items-end style="float:right;">

            <ion-button style="font-size: 10px;
    padding: 0px !important;
    height: 20px!important;" >Reorder </ion-button>

          </ion-row>
        </ion-grid>
        <!-- <ion-item>
          <ion-label>Tracking ID - {{data}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Weight Dimensions - 12.3 *5.67 (lb)</ion-label>
        </ion-item> -->
      </ion-card-content>

    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Reach us for</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item routerLink="/return/{{data}}" class="activated">
          <ion-icon name="undo"></ion-icon>
          <ion-label style="margin-left:10px;">Return</ion-label>
          <ion-icon name="ios-arrow-forward"></ion-icon>
        </ion-item>

        <ion-item routerLink="/support/shipping" class="activated">
          <ion-icon name="people"></ion-icon>
          <ion-label style="margin-left:10px;">Shipping Support</ion-label>
          <ion-icon name="ios-arrow-forward"></ion-icon>
        </ion-item>

        <ion-item routerLink="/support/customer-support">
          <ion-icon name="people"></ion-icon>
          <ion-label style="margin-left:10px;">Customer Feedback</ion-label>
          <ion-icon name="ios-arrow-forward"></ion-icon>
        </ion-item>
      </ion-card-content>

    </ion-card>
  </div>
</ion-content>
