<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Support Ticket
    </ion-title>
  </ion-toolbar>
</ion-header> -->
<ion-header>
  <header class="bg-brand-header">
    <button class = "back-button" routerLink="/support/shipping" >

      <ion-icon ios="ios-arrow-back" md="md-arrow-back" ></ion-icon>
    </button>
    <h1 class = "title">Support Ticket</h1>

    <button class = "home-button" routerLink="/home" >

      <ion-icon ios="ios-home" md="md-home"></ion-icon>
    </button>
  </header>
</ion-header>

<ion-content>
  <ion-item>
    {{data}}
  </ion-item>
  <!-- <ion-item>
    Issue title
  </ion-item> -->
  <ion-item>
    <ion-label position="stacked">Description</ion-label>
    <ion-textarea [(ngModel)]="ticketRequest.description" [ngModelOptions]="{standalone: true}" rows="6" placeholder="Enter more information here..."></ion-textarea>
  </ion-item>
  <ion-toolbar>

    <ion-button (click)="submitTicket()" style="float:right">Submit</ion-button>

</ion-toolbar>
</ion-content>
