/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */
/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css"; /* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css'; /* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.bg-brand-header {
  background-image: -webkit-gradient(linear,left top,right top,from(#3e53a4),to(#cf0989));
  background-image: linear-gradient(90deg,#3e53a4 0,#cf0989 100%);
  background-position: top left;
  background-repeat: no-repeat;
  height: 50px;
}

h1 {
  color: #fff;
  text-align: center;
  clear: none;
  display: inline;
  font-size: 18px;
}

.back-button {
  background-color: transparent;
  position: relative;
  top: 8px;
}

.back-button ion-icon,
.home-button ion-icon {
  color: #fff;
  font-size: 30px;
}

.home-button {
  float: right;
  background-color: transparent;
  position: relative;
  top: 8px;
}

ion-button {
  text-transform: capitalize;
}

ion-menu-button {
  --color: white !important;
  color: white !important;
}

.bg-brand-toolbar-header .md.hydrated {
  background-image: -webkit-gradient(linear,left top,right top,from(#3e53a4),to(#cf0989)) !important;
  background-image: linear-gradient(90deg,#3e53a4 0,#cf0989 100%);
  background-position: top left;
  background-repeat: no-repeat;
  height: 60px;
}

ion-title {
  color: white !important;
}

.bg-brand-toolbar-header .md.hydrated.buttons, .bg-brand-toolbar-header .md.hydrated.button {
  background-image:none !important;
  background-color:#3F53A4;
}
