<ion-header>
  <header class="bg-brand-header">
    <button class = "back-button" routerLink="/return/{{data}}/generateLabel/schedulePickup" >

      <ion-icon ios="ios-arrow-back" md="md-arrow-back" ></ion-icon>
    </button>
    <h1 class = "title">Schedule Return</h1>
    <button class = "home-button" routerLink="/home" >

      <ion-icon ios="ios-home" md="md-home"></ion-icon>
    </button>
  </header>
</ion-header>

<ion-content style="margin:20px;">
  <div style="padding:20px;">

    <div>
      <h5>Your Return Has Been Scheduled Successfully!
      </h5>
      <h5>
        Happy Shopping with us! Thank You!!</h5>

    </div>
    <div style="margin:20px;border: 2px solid gray;
    border-radius: 5px;
    padding: 10px;">
      <h1 style="color:#000;font-size:14px;">Your Package will be picked from below Address: </h1>
      <p style="line-height:2px;font-size:12px;">4, 150 Greenwich St 47 Floor,</p>
      <p style="line-height:2px;;font-size:12px;">New York, NY 10007,</p> <p style="line-height:2px;font-size:12px;">United States</p>
      <br/>
      <h1  style="color:#000;font-size:14px;"> Pickup Date and Time:</h1>
      <p  style="color:#000;font-size:12px;line-height: 3px"> Friday 27 Sep, 2019
      </p>
      <p  style="color:#000;font-size:12px;line-height: 3px">
        07:00 - 13:00</p>
<br/>
      <h1  style="color:#000;font-size:14px;">Pickup Tracking ID:
        </h1>
      <p  style="color:#000;font-size:12px;line-height: 3px">
        716102413760</p>

    </div>
  </div>

</ion-content>
