<ion-header class="bg-brand-toolbar-header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Self SuRe
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="padding:20px;">
    <!-- <h5>Welcome to Self SuRe</h5>
    <p>It will help you for Easy Returns, Customer Support, Shipping Support.
    </p> -->

    <ion-slides pager="true" [options]="slideOpts">
      <ion-slide>
        <!-- <h1>Slide 1</h1> -->
        <ion-thumbnail style="height:100%;width:100%">
          <img src="../../../assets/hero1.png">
        </ion-thumbnail>

      </ion-slide>
      <ion-slide>
        <!-- <h1>Slide 2</h1> -->
        <ion-thumbnail style="height:100%;width:100%">
          <img src="../../../assets/hero2.png">
        </ion-thumbnail>

      </ion-slide>
      <ion-slide>
        <!-- <h1>Slide 3</h1> -->
        <ion-thumbnail style="height:100%;width:100%">
          <img src="../../../assets/hero3.png">
        </ion-thumbnail>

      </ion-slide>
      <ion-slide>
        <!-- <h1>Slide 3</h1> -->
        <ion-thumbnail style="height:100%;width:100%">
          <img src="../../../assets/hero4.png">
        </ion-thumbnail>

      </ion-slide>
    </ion-slides>

    <ion-card>
      <ion-card-header>
        <ion-card-subtitle style="color:#000;"> Scan a Label or enter tracking id to search your parcel.</ion-card-subtitle>
        <!-- <ion-card-title> Scan a Label</ion-card-title>-->
      </ion-card-header>

      <ion-card-content>
        <ion-grid>
          <ion-row id="">
            <!-- <ion-label position="stacked">Tracking ID</ion-label> -->
            <ion-col>
              <ion-fab style="text-align: center;">
                <ion-fab-button (click)="scanBarcode()">
                  <ion-icon name="camera"></ion-icon>
                </ion-fab-button>
              </ion-fab>
            </ion-col>
            <ion-col>
              <ion-input type="text" style="color:#000;" placeholder="Tracking ID" [value]="data.trackingId" (input)="setTrackingId($event.target.value)"></ion-input>
            </ion-col>

            <!-- <ion-input type="text" value=""></ion-input>-->
          </ion-row>

        </ion-grid>
        <ion-row style="margin-top: 30px;float:right;">
          <ion-button routerLink="/details" (click)="sendBarcodeData()">Find Details </ion-button>
        </ion-row>
      </ion-card-content>
    </ion-card>
    <!-- <ion-card>
      <ion-card-header>
        <ion-card-subtitle style="color:#000;"> Enter Tracking ID to proceed further</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <ion-content padding style="height:100px;">
          <div id="">
            <ion-list>



            </ion-list>
          </div>
        </ion-content>
      </ion-card-content>
    </ion-card> -->








  </div>
</ion-content>
