<ion-header>
  <header class="bg-brand-header">
    <button class = "back-button" routerLink="/return/{{data}}/generateLabel" >

      <ion-icon ios="ios-arrow-back" md="md-arrow-back" ></ion-icon>
    </button>
    <h1 class = "title">Generate Label</h1>
    <button class = "home-button" routerLink="/home" >

      <ion-icon ios="ios-home" md="md-home"></ion-icon>
    </button>
  </header>
</ion-header>

<ion-content style="margin:20px;">
  <div style="padding:20px;">

    <div>
      <h5>Why you are returning this item?</h5>

      <ion-list>
        <ion-radio-group (ionChange)="schedulePickup($event)">

          <ion-item>
            <ion-label>Drop At USPS</ion-label>
            <ion-radio slot="start" value="drop" checked="false"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Schedule Your pickup</ion-label>
            <ion-radio slot="start" value="pickup"  checked="false"></ion-radio>

          </ion-item>


        </ion-radio-group>
      </ion-list>


<div *ngIf="pickUpService">
      <ion-text>
        <p style="font-size: 14px;;">Your package will be picked by a courier service.Please return the item and packaging in its original condition to avoid
          pickup cancellation by courier service.
        </p>
      </ion-text>


  <ion-card style="color: #000;padding:10px;">
    <ion-item class="activated">

      <ion-label style="margin-left:10px;font-size:12px;"> <h2 style="font-size:14px;font-weight:bold;">Date & Time</h2>
        <h2 style="font-size:12px;">Friday 27 Sep, 2019</h2>
        07:00 - 13:00</ion-label>
      <ion-icon name="ios-arrow-forward"></ion-icon>
    </ion-item>

  </ion-card>
  <div style="margin:20px;">
    <h1 style="color:#000;font-size:14px;">Pickup Address</h1>
    <p style="line-height:2px;font-size:12px;">4, 150 Greenwich St 47 Floor,</p>
    <p style="line-height:2px;font-size:12px;">New York, NY 10007,</p> <p style="line-height:2px;font-size:12px;">United States</p>
  </div>
</div>

    </div>

    <ion-button disabled={{scheduledReturn}} (click) ="confirmPickup()" routerLink ="confirmPickup" >Confirm Your Return</ion-button>

  </div>

</ion-content>
